body {
    background-color: #eaf6ff;
    font-family: Arial;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgray;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.name {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}

.output {
    margin-top: 10px;
    color: purple;
    font-weight: bold;
}
